/* add popins font family */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.typing-caret {
  display: inline-block;
  width: 1px;
  background: currentColor;
  animation: blink 1s step-end infinite;
  margin-left: 2px;
}

@keyframes blink {
  from,
  to {
    background: transparent;
  }
  50% {
    background: currentColor;
  }
}
